
## <summary>policy for dyno</summary>


########################################
## <summary>
##	Transition to dyno.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`dyno_domtrans',`
	gen_require(`
		type dyno_t, dyno_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, dyno_exec_t, dyno_t)
')


########################################
## <summary>
##	Execute dyno server in the dyno domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dyno_initrc_domtrans',`
	gen_require(`
		type dyno_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, dyno_initrc_exec_t)
')


########################################
## <summary>
##	Search dyno lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dyno_search_lib',`
	gen_require(`
		type dyno_var_lib_t;
	')

	allow $1 dyno_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read dyno lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dyno_read_lib_files',`
	gen_require(`
		type dyno_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, dyno_var_lib_t, dyno_var_lib_t)
')

########################################
## <summary>
##	Manage dyno lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dyno_manage_lib_files',`
	gen_require(`
		type dyno_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, dyno_var_lib_t, dyno_var_lib_t)
')

########################################
## <summary>
##	Manage dyno lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dyno_manage_lib_dirs',`
	gen_require(`
		type dyno_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, dyno_var_lib_t, dyno_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a dyno environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`dyno_admin',`
	gen_require(`
		type dyno_t;
		type dyno_initrc_exec_t;
		type dyno_var_lib_t;
	')

	allow $1 dyno_t:process { ptrace signal_perms };
	ps_process_pattern($1, dyno_t)

	dyno_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 dyno_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, dyno_var_lib_t)

')

